body{
  overflow-x:auto;
  overflow-y:auto;
  background-image: linear-gradient(270deg,lightgrey,white);
}
.flexparent{
  display: flex;
}
main{
  width:80%;
  margin:auto;
  padding:0;
  background-color:white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h1,a{
  cursor: pointer;
  text-decoration: none;
}
footer{
  font-family: Arial;
}
.container{
  background-image: linear-gradient(270deg, lightgrey, white);
  padding: 10px 0px 10px 0px;
}

.navbar, .navbar-div {
  margin:0;
  border:none;
  font-size:1.2rem;
}
.navbar-div{
  justify-content: flex-end;
}
.navbar-div input{
  height: 25px;
  min-width: 50px;
}
.navbar-div button{
  height: 30px;
  min-width: 30px;
}
.navbar-div input, .navbar-div button,.navbar-div div.flexchild{
  border-radius: 5px;
  margin-right:5px;
  }
.navbar-div div.flexchild:hover{
opacity: 0.8;
}
#logo{
  background-image: url('./images/sitelogo.jpg');
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  height: 150px;
  width:120px;
  border: none;
  background-color: red;
  position: absolute;
  top:0;
  left:50px;
}
#sprite1 {
	background: url('./images/sprites.png') no-repeat -365px -43px;
	width: 30px;
	height: 34px;
}
#sprite2 {
	background: url('./images/sprites.png') no-repeat -523px -164px;
	width: 33px;
	height: 33px;
}
#sprite3 {
	background: url('./images/sprites.png') no-repeat -485px -82px;
	width: 30px;
	height: 34px;
}
#sprite4 {
	background: url('./images/sprites.png') no-repeat -803px -164px;
	width: 33px;
	height: 34px;
}
#sprite5 {
	background: url('./images/sprites.png') no-repeat -684px -126px;
	width: 32px;
	height: 29px;
}
#sprite6 {
	background: url('./images/sprites.png') no-repeat -204px -125px;
	width: 32px;
	height: 33px;
}



#headerBar{
  height: 34px;
  background-color: #404040;
  color:white;
  padding: 10px 20px 0px 20px;
}
#news{
margin-left: 20%;
}
#cartSummary{
margin-left: 30%;
}
#headerBar button{
  background-color: red;
  border:none;
  margin-left: 10px;
  height:25px;
  width: 25px;
  color:white;
  cursor: pointer;
}



.navbar{
  margin-left: 15%;
}
.navbar>ul>li{
  list-style: none;
  max-width: 120px;
  text-align: center;
}
.navbar>ul>li>ul>li{
  list-style: none;
  min-width: 120px;
  margin-left: -20px;
  text-align: left;
}
.navbar>ul.flexparent{
  flex-flow:row nowrap;
}
.navbar>ul>li.flexchild{
  flex:1;
  margin-left:20px;
}
.navbar a{
  text-decoration: none;
  font-size: 1rem;
  color:black;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.navbar>ul>li>a:hover{
  opacity: 0.8;
}
.navbar>ul>li>ul>li:hover{
  background-color: lightgray;
}
.navbar>ul>li>ul>li>a{
  font-size: 0.7rem;
  margin-left: 3px;
}
.navbar>ul>li>ul>li>a:hover{
  font-weight: bold;
}
.navbar>ul>li>ul{
  background-color: white;
}
.dropdown_menu{
  position: absolute;
}
.hidden_menu{
  display: none;
}



/*CAROUSEL #1 - Ad section*/
section.ad{
  display: flex;
  flex-flow:row;
  height: 35rem;
  width: 90%;
  margin-left: 3%;
  padding-left:100px;
  padding-right:100px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.innerjum{
  align-items:stretch;
  flex-shrink: 2;
  background-color:transparent;
  margin:3% 0.5% 3% 0.5%;
}
.innerjum>h1{
  font-size:2rem;
}
.innerjum>p{
  font-size:1rem;
}
.innerjum button{
  height: 35px;
  background-color: red;
  border: none;
}
.innerjum button>a{
  text-decoration:none;
  color:white;
  font-size: 1rem;
}
.innerjum_img{
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  max-height: 250px;
  min-width:200px;
  border: none;
  background-color: transparent;
  margin-top: 30px;
}
#adImg1{
background-image: url('./images/Layer143.png');
}
#adImg2{
background-image: url('./images/Layer29.png');
}
#adImg3{
background-image: url('./images/Layer136.png');
}
#ad_carousel_wrapper{
  background-image: linear-gradient(270deg, lightgrey, white);
  max-width:90%;
  margin-left:5%;
}
.carousel_inner{
  max-width:90%;
  flex-flow: row nowrap;
  background-image: linear-gradient(270deg, lightgrey, white);
}
.item{
  max-height:300px;
  min-width:70%;}

#ad_carousel_left{
  position:relative;
  float:left;
  margin-top:-150px;
  margin-left: 0;
  cursor: pointer;
}
#ad_carousel_right{
  position:relative;
  float:right;
  margin-top:-150px;
  margin-right: 0;
  cursor: pointer;
}


/*Controls of Carousel#1*/
#ad_carousel_left>div, #ad_carousel_right>div{
  background-color:lightgrey;
  border:3px solid white;
  border-radius:50%;
  height:36px;
  width:36px;
  cursor: pointer;
  position: relative;
}
#ad_carousel_left>div>div, #ad_carousel_right>div>div{
  height:0;
  width:0;
  position: absolute;
  top:30%;
  left:20%;
  border: 7px solid transparent;
  border-right: 7px solid white;
}
#ad_carousel_right>div>div{
  border-right: 0px solid white;
  border-left: 7px solid white;
  left:40%;
}


/*CAROUSEL #2 - Featured products*/
section.containSec{
  display:inline-block;
  vertical-align:top;
  background-color:white;
  min-height:300px;
}
#featured_prod{
  width:20%;
}
#featured_prod p{
font-size: 1rem;
font-weight: bold;
margin-left: 20px;
min-height:2.6rem;
}
#featured_prod p+p{
font-size: 0.8rem;
font-weight:400;
}
.featured_img{
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left;
  height: 120px;
  min-width:120px;
  border:none;
  background-color: transparent;
  margin-top: 10px;
  margin-left: 20px;
}
#featImg1{
background-image: url('./images/Layer133.png');
}
#featImg2{
background-image: url('./images/Layer134.png');
}
#featImg3{
background-image: url('./images/Layer135.png');
}
.prod_info{
  max-width: 65%;
  display: inline-block;
}
.shopping_cart{
  background: url('./images/sprites.png') no-repeat -44px -164px;
	width: 36px;
	height: 36px;
  background-color:red;
  border: none;
  display: inline-block;
  vertical-align: top;
  margin-top:10px;
  cursor: pointer;
}
.black{
  background-color:grey;
}
.shopping_cart_hover{
  background-color:white;
  border:1px solid black;
  height:34px;
  width:34px;
}

#featured_prod>header{
  height:40px;
  background-color:red;
  color:white;
  font-weight:bold;
  padding-left:20px;
  flex-flow: row nowrap;
  align-items: center;
}
#featured_prod>header>div{
  flex:1;
}
.old_price{
  text-decoration:line-through;
  color:red;
  opacity:0.8;
}

/*Controls of car#2*/
#featured_carousel_controls{
  border:none;
  height: 7px;
  max-width:30px;
  min-width:30px;
  cursor: pointer;
  position: relative;
  flex:1;
  margin-right: 5px;
}
#featured_carousel_left{
  height:0;
  width:0;
  position: absolute;
  top:0;
  left:0;
  border: 5px solid transparent;
  border-right: 5px solid white;
}
#featured_carousel_right{
  height:0;
  width:0;
  position: absolute;
  top:0;
  right:0;
  border: 5px solid transparent;
  border-left: 5px solid white;
}


/*Section New Products*/
section#new_products{
  height:200px;
  width:78%;
  overflow-x:scroll;
  overflow-y:hidden;
}
section#new_products>header{
  height:40px;
  background-color:white;
  color:black;
  font-weight:bold;
  font-family:arial;
  line-height:40px;
  padding-left:20px;
}
section#new_products .flexparent{
  width:200%;
  padding-bottom: 20px;
  background-color:#e6e6e6;
}
section#new_products .flexchild{
  flex:1;
  background-color:#e6e6e6;
}
.newprod_img{
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left;
  height: 120px;
  width:200px;
  border: none;
  background-color: white;
  margin-top: 10px;
  margin-left: 20px;
}
#newProdImg1{
background-image: url('./images/Layer134.png');
}
#newProdImg2{
background-image: url('./images/Layer135.png');
}
#newProdImg3{
background-image: url('./images/Layer136.png');
}
#newProdImg4{
background-image: url('./images/Layer143.png');
}
#newProdImg5{
background-image: url('./images/Layer134.png');
}
#newProdImg6{
background-image: url('./images/Layer135.png');
}
#newProdImg7{
background-image: url('./images/Layer136.png');
}
.prod_info p{
font-size: 1rem;
font-weight: bold;
margin-left: 20px;
}
.prod_info p+p{
font-size: 0.8rem;
font-weight:400;
min-width: 120px;
}


/*Scrolling fancy*/
.scrollbar::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color:red;
}
.scrollbar::-webkit-scrollbar-track {
  background-color:lightgrey;
}
.scrollbar::-webkit-scrollbar {
    height: 7px;
    width:10px;
}


/* Top NAV 'Trending' which is only visible for mobile */
nav#trend_hidden{
  display:none;
  margin-top: 20px;
}
nav#trend_hidden ul{
  display:flex;
  list-style:none;
  background-image: linear-gradient(90deg, white,lightgrey);
}
nav#trend_hidden ul>li{
  flex:1;
  border:1px solid grey;
  border-radius:10px;
  box-shadow:0px 0px 7px grey;
  margin:5px;
  background-color: red;
  text-align:center;
}
nav#trend_hidden ul>li:hover{
  background-color: lightgrey;
}
nav#trend_hidden ul>li>a{
  text-decoration:none;
  color:white;
  font-size:1rem;
  font-weight:bold;
}
nav#trend_hidden ul>li>a:hover{
  color:black;
  opacity:0.9;
}




/* Left NAV 'Trending' which is not visible for mobile*/
nav#trend_left{
  width:20%;
  display:inline-block;
  vertical-align:top;
  background-color: white;
  height: 280px;
}
nav#trend_left>header{
  height:40px;
  background-color:#404040;
  color:white;
  font-weight:bold;
  line-height:40px;
  padding-left:20px;
}
nav#trend_left ul{
  list-style:none;
  background-image: linear-gradient(90deg, white,lightgrey);
  border-radius:none;
  box-shadow:0px 0px 10px lightgrey;
}
nav#trend_left ul>li{
  margin:0px 0px 0px -25px;
  padding-left:10px;
  padding-top:5px;
  background-color: white;
  text-align:left;
  vertical-align:middle;
  height:30px;
  position: relative;
  z-index: 1;
}
nav#trend_left ul>li:hover{
  background-color: red;
  color:white;
  opacity:0.8;
}
nav#trend_left ul>li>a{
  text-decoration:none;
  color:black;
  font-size:1rem;
  font-weight:700;
}
.arrow{
  height:0;
  width:0;
  position: absolute;
  top:0;
  left: 100%;
  border: 17px solid transparent;
  border-left: 10px solid red;
  z-index: 2;
}
.rectangle{
 height:35px;
  width:28px;
  position: absolute;
  top:0;
  left: -28px;
  border: none;
  background-color: red;
  z-index: 2;
}
.triangle{
  height:0;
  width:0;
  position: absolute;
  top:20px;
  left: -42px;
  border: 14px solid transparent;
  border-right: 14px solid #ff9999;
  z-index: -1;
}

/* Section TRENDING*/
section#trending{
  width:78%;
}
section#trending .flexparent{
  flex-flow:row wrap;
}
section#trending .flexchild{
  flex:1;
  min-width: 40%;
}
section#trending section.flexchild{
  position: relative;
}
.trending_img{
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left;
  min-height:200px;
  width:100%;
  border: none;
  background-color: white;
  margin-top: 10px;
  margin-left: 20px;
  z-index: 1;
}
.info{
	max-height:100px;
	width:100px;
	border:1px dotted green;
	background-color:lightgreen;
	opacity:0.8;
	position:absolute;
	left:20%;
	top:20%;
	padding:10px;
	border-radius:7px;
  z-index: 2;
}
section#trending div.prod_info{
  padding:10px;
}
#trendImg1{
background-image: url('./images/Layer29.png');
}
#trendImg2{
background-image: url('./images/Layer155.png');
}
#trendImg3{
background-image: url('./images/Layer156.png');
}
#trendImg4{
background-image: url('./images/Layer157.png');
}
section#trending .shopping_cart{
margin-top: 0;
}
section#trending button{
  height:36px;
  margin: 0;
  border:none;
  background-color: #c6c6c6;
  font-weight: bold;
  font-size: 0.7rem;
  cursor: pointer;
}
.availQuantity{
height: 15px;
width:15px;
font-size: 0.6rem;
border-radius: 50%;
color:grey;
background-color: white;
border: 3px solid #c6c6c6;
cursor: pointer;
text-align: center;
font-weight: bold;
display: inline-block;
vertical-align: top;
}
.availHover{
  background-image: linear-gradient(135deg,green,white);
  border-color: green;
  color:white;
}


/*CAROUSEL BOTTOM - Sponsors, links, etc.*/
div#links_carousel{
  width:80%;
  margin:auto;
  cursor: pointer;
}
div#links_carousel .flexparent{
  flex-flow:row nowrap;
  width:100%;
  overflow:hidden;
}
div#links_carousel .flexchild{
  flex:1;
  height: 45px;
}
.logos_img{
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left;
  height: 40px;
  max-height: 40px;
  border: 1px solid lightgray;
  background-color: white;
  margin: 5px 0px 10px 0;
}
#logoImg1{
background-image: url('./images/Logo_0.png');
}
#logoImg2{
background-image: url('./images/Logo_1.png');
}
#logoImg3{
background-image: url('./images/Logo_2.png');
}
#logoImg4{
background-image: url('./images/Logo_1.png');
}
.newClass{
    height:0px;
  }


/* FOOTER No.0 - FALSE FOOTER Z-INDEX -1 */
footer#footer0{
  position: relative;
  margin-top: -100px;
  background-color:#595959;
  height: 200px;
  z-index: -1;
}


/* FOOTER No.1 - MISC INFO */
footer#footer1{
  margin-top:0px;
  padding:0% 5% 5% 5%;
  background-color:#595959;
}
footer#footer1 header{
  font-weight:bold;
  font-size:1rem;
  margin: 0 0 20px 0;
  color:white;
}
footer#footer1.flexparent{
  flex-flow:row nowrap;
}
footer#footer1 .flexchild{
  flex:1;
}
footer#footer1 section:nth-child(2)>section.flexchild{
  display:flex;
  flex-flow:row nowrap;
}
footer#footer1 p{
  font-size:0.8rem;
  color:white;
}
footer#footer1 a{
  font-size:0.8rem;
  color:white;
}
footer#footer1 li{
  list-style:none;
}
footer#footer1 section:nth-child(2)>section li{
  margin: 0 0 10px -30px;
  border-bottom:1px dotted white;
  padding-bottom:10px;
}
footer#footer1 section:nth-child(2)>section li:last-child{
  border-bottom:none;
}
footer#footer1 section:nth-child(2)>header{
  margin-left:10px;
}
footer#footer1 section:nth-child(3)>header{
  margin-left:40px;
}
.tweetHover{
  background-color:#404040;
  border-right: 1px dotted white;
}


/* FOOTER No.2 - Copyright, additional navigation */
footer#footer2{
  background-color:#404040;
  color:white;
}
footer#footer2 li{
  list-style:none;
}
footer#footer2 a{
  font-size:0.8rem;
  color:white;
  text-decoration:none;
}
footer#footer2.flexparent, footer#footer2 ul.flexparent{
  display:flex;
  flex-flow: row nowrap;
}
footer#footer2 li{
  min-width:40px;
}
footer#footer2 .flexchild{
  flex: 1;
}
footer#footer2 nav.flexchild{
  flex-grow: 2;
}
footer#footer2 div{
  background-color:grey;
  max-width:40px;
  height:40px;
  padding:10px;
}
